body{
    background: black;
    margin: 0px;
    color:black;
} 
header{
    border:solid 2px black;
    background:black;
    color: rgb(138, 44, 44);
    font-size: 25px;
    
}
section{ 
background: darkred;
font-size: 15px;

}

